.DS_Store
*/.DS_Store
*/*/.DS_Store
obj/*
*.exe
*.a 
*.log
sub_pot/sub_system.f
sub_pot/sub_system.f90
res
TESTS/Taylor*.keo
TESTS/*log
TESTS/err_Tnum
TESTS/res*
TESTS/Xres*
TESTS/freq.xyz
TESTS/keo.op
TESTS/TanaF2F1Vep.f90
TESTS/*/*log
TESTS/*/res*
TESTS/*/Xres*
TESTS/*/freq.xyz
TESTS/*/keo.op
TESTS/*/TanaF2F1Vep.f90
KEO_Tana_school-main
DOC/data/keo.op
DOC/data/Eq_KEO.tex
DOC/data/freq.xyz
DOC/data/res
toto