name = "FOR_EVRT"
version = "2.0.1"
license = "MIT"
author = "David Lauvergnat"
maintainer = "david.lauvergnat@universite-paris-saclay.fr"
copyright = "2025 David Lauvergnat"

[library]
source-dir="SRC"

[[test]]
name="Test_ForEVRT"
source-dir="TESTS"
main="Test_FOR_EVRT.f90"

[build]
link = ["blas", "lapack"]
auto-executables = false
auto-examples = false
auto-tests = false
external-modules = ["mpi","ifport"]

[fortran]
implicit-external = true 

[dependencies]
QDUtilLib       = { path = "Ext_lib/QDUtilLib" }
AD_dnSVM        = { path = "Ext_lib/AD_dnSVM" }
nDindex         = { path = "Ext_lib/nDindex" }
EVRT_dnSVM      = { path = "Ext_lib/EVRT_dnSVM" }
openmp = "*"

[preprocess]
cpp.macros = ["__LAPACK=1","run_MPI=0","run_MPI_ifort=0"]

